{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Chat Settings - Admin Panel{% endblock %}
{% block page_title %}Chat Settings{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="admin-card">
            <div class="admin-card-header">
                <h5><i class="fas fa-cog"></i> Chat Settings</h5>
            </div>
            <div class="admin-card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-admin-primary">
                        <i class="fas fa-save"></i> Save Settings
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
